/* Add your own styles here. Use of this file should be minimized at all costs. However, if you feel the need to
    declare your own CSS classes for a small padding fix or whatnot, this is the purpose of this file. You may be
    tempted to go all out with the styling of your website. We encourage you not to spend the time styling the pages
    for this class, and to spend that time on styling of your own personal webpage or side project.
 */

/* Add your own styles here. Use of this file should be minimized at all costs. However, if you feel the need to
    declare your own CSS classes for a small padding fix or whatnot, this is the purpose of this file. You may be
    tempted to go all out with the styling of your website. We encourage you not to spend the time styling the pages
    for this class, and to spend that time on styling of your own personal webpage or side project.
 */

/* Colors
csu-green: #1E4D2B;
csu-gold: #C8C372;
csu-white: #FFFFFF;
*/

/* Style the tab */
* {
  color: #1E4D2B;
}

body {
  font-family: sans-serif;
  background-color: #f7f7f7;
}

/* About page tabstyle */

.aboutTab button{
  background: radial-gradient(#C8C372, #1E4D2B);
  color: #000000;
  float: left;
  border-top: 3px solid #1E4D2B;
  border-right: 1px solid #1E4D2B;
  border-left: 1px solid #1E4D2B;
  border-bottom: 1px solid #1E4D2B;
  box-sizing: border-box;
  outline: none;
  font-size: 1em;
  width: 80%;
  height: 50px;
  border-radius: 5px 5px 3px 3px;
  cursor: pointer;
}

.aboutTab button:hover {
  background-color: #fff;
  color: #1E4D2B;
  border-top: 4px solid #1E4D2B;
  border-radius: 5px 5px 0 0;
  margin-bottom: -1px;
}

.aboutTab button:active:focus {
  background-color: #14361e;
  color: #fff;
  border-top: 4px solid #C8C372;
  margin: -1px 0;
  box-shadow: none;

}

.aboutTab button:focus {
  background-color: #1E4D2B;
  color: #fff;
  border-top: 4px solid #C8C372;
  border-radius: 5px 5px 3px 3px;
  margin: -1px 0;
  box-shadow: 0 10px 160px 0 rgba(0,0,0,0.001), 0 6px 20px 0 rgba(0,0,0,0.25);
  font-weight: bold;
}

.bottomTab {
  margin-bottom: 10px;
}

/* Home Button Style */
.home-btn, .home-btn:active, .home-btn:focus, .home-btn:active:focus,
.searchButton, .searchButton:active, .searchButton:focus, .searchButton:active:focus{
  position: absolute;
  background-color: #fff;
  background-size: 34px;
  color: #000000;
  left: 10px;
  z-index: 1005;
  border-left: 2px solid rgba(0,0,0,0.3) ;
  border-right: 2px solid rgba(0,0,0,0.3) ;
  border-bottom: 2px solid rgba(0,0,0,0.3) ;
  border-top: 1px solid rgba(0,0,0,0.2) ;
  border-radius: 0 0 4px 4px;
  width: 34px;
  height: 34px;
  outline:none !important;
}

.home-btn span {
  position: absolute;
  top: 2px;
  left: 7px;
  width: 15px;
  height: auto;
}

.homeImg{
  position: relative;
  width: 15px;
  height: auto;
}

/* Remove Mozilla specific button outline */
select::-moz-focus-inner {
  outline: none !important;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

#container{
  position:relative;
}

#num1, #num2 {
  position:absolute;
  top:69px;
  left:10px;
}

.inputFieldSearchBar{
  max-width: 50%;
}

.inputFieldSearchField {
  max-width: 70%;
}

.searchImg {
  width: 16px;
  height: 16px;
}